@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #0a0a0a;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    font-size: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 2em;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

a:hover {
    color: lightgrey;
    border-bottom-color: lightgrey;
}